$breakpoint-xs: "only screen and (max-width: 576px)";
$breakpoint-sm: "only screen and (min-width: 768px)";
$breakpoint-md: "only screen and (min-width: 992px)";
$breakpoint-lg: "only screen and (min-width: 1200px)";
$breakpoint-xl: "only screen and (min-width: 1441px)";
$breakpoint-xxl: "only screen and (min-width: 1600px)";

a {
    color: #3f51b5;
    &:hover {
        color: #475bcc;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.MuiFormLabel-root {
    color: #000000;
}

header {
    ul {
        list-style-type: none;
        display: flex;
        padding: 0 1rem;
        margin: 0;
        li {
            padding-right: 1rem;
            a {
                text-decoration: none;
                padding: 0 .5rem .5rem;
                color: rgba(255,255,255, 0.7);
                &:hover,
                &.selected {
                    border-bottom: 2px solid white;
                    text-decoration: none !important;
                    color: #0FA1F4;
                }
                &.selected {
                    color: #FFFFFF;
                    color: rgba(255,255,255, 1);
                }
                &:hover {
                    color: #FFFFFF;
                }
            }
        }
        &:last-child {
            .location-dropdown {
                width: 12rem;
            }
            .link-avatar {
                display: inline-block;
                padding: 0;
                img {
                    transition: all ease .4s;
                }
                &:hover {
                    border-bottom: 0;
                    img {
                        transform: scale(120%);
                    }
                }
            }
            li {
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    .breadcrumb {
        padding: .5rem 1rem;
    }
    .white-version {
        background-color: transparent;
        .MuiOutlinedInput-notchedOutline {
            border-color: #FFFFFF;
        }
        &.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
        &.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            background-color: transparent;
            border-color: #FFFFFF;
        }
        
        .MuiSelect-icon,
        .MuiSelect-select {
            color: #FFFFFF;
        }
    }
    .MuiFormLabel-root {
        color: #FFFFFF;
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
        background-color: #3f51b5;
    }
    .MuiFormLabel-root.Mui-focused {
        color: #FFFFFF;
    }
}


.content-holder {
    padding: 2rem;
    .content-block {
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        &.upper {
            margin-bottom: 2rem;
        }
    }

    .search-form {   
        grid-template-columns: 350px minmax(150px, 170px) 1fr;
        grid-gap: 1rem; 
    }

    .adv-search-link {
        transform: none !important;
        display: inline;
        text-align: left;
        margin: 0;
        font-size: .94rem;
        max-width: fit-content;
        transition: none;
        &:hover {
            background-color: transparent;
        }
    }

    .adv-search-form {
        grid-template-columns: repeat(3, auto);
        grid-gap: 1rem; 
        margin-top: 1.5rem;
        @media #{$breakpoint-lg} {
            grid-template-columns: repeat(4, auto);
        }
        @media #{$breakpoint-xl} {
            grid-template-columns: repeat(5, auto);
        }

        .inner-form-control {
            display: flex;
            flex-direction: row;
            width: 100%;
            .MuiFormControl-root {
                margin-right: .5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
            &.flex-ctrl {
                .flex-half {
                    flex: 1 0;
                    margin-right: .5rem;
                }
                .MuiTextField-root {
                    width: 50% !important;
                }
            }
            .MuiOutlinedInput-root.MuiOutlinedInput-root.MuiOutlinedInput-root .MuiOutlinedInput-input {
                @media #{$breakpoint-xl} {
                    padding-right: 0 !important;
                    padding-left: 10px !important;
                }
            }
        }

        .ctrl-width {
            width: auto;
            @media #{$breakpoint-lg} {
                width: 22rem;
            }
            @media #{$breakpoint-xl} {
                width: 17rem;
            }
            @media #{$breakpoint-xxl} {
                width: 25rem;
            }
        }
        .ctrl-width-2 {
            width: 100%;
        }
    }

    .data-grid-holder {
        margin-top: 1rem;
        box-shadow: none;
        border: 1px solid rgba(224, 224, 224, 1);
        td {
            padding: 12px;
        }
        .MuiTableHead-root {
            tr td {
                font-weight: bold;
            }
        }
        .MuiTableBody-root {
            tr {
                &:hover {
                    background-color: rgba(63,81,181,0.15);
                    cursor: pointer;
                }
            }
        }
        .MuiTableFooter-root {
            tr td {
                border-bottom: 0;
                padding: 0;
            }
        }
    }
}

.css-1laqsz7-MuiInputAdornment-root {
    margin-left: 0 !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    background-color: #FFFFFF;
}

.MuiTablePagination-toolbar {
    background-color: #EEEEEE !important;
    border-top: 2px solid rgba(224, 224, 224, 1);
    font-size: 0.8rem;
    p,
    a,
    select {
        font-size: 0.8rem;
    }
}

.MuiTableHead-root {
    background-color: #333333;
    color: #FFFFFF;
}

.css-rgmbv6-MuiSvgIcon-root {
    color: #3f51b5 !important;
}

.Mui-selected,
.css-1s220mh-MuiButtonBase-root-MuiIconButton-root,
.css-12ha4i7,
.css-7lip4c,
.css-a1rc6s {
    color: #FFFFFF !important;
    background-color: #3f51b5 !important;
}
.css-2ujp1m {
    border-color: #3f51b5 !important;
}

.entry-popup {
    .toolbar-popup {
        .MuiToolbar-root {
            background-color: transparent;
            color: #FFFFFF;
            .MuiButton-root {
                position: absolute;
                right: 1.5rem;
                &.MuiButton-outlined {
                    border-color: #FFFFFF;
                    color: #FFFFFF;
                    padding: 10px 30px;
                    font-weight: bold;
                }
            }
        }
    }

    .popup-container {
        padding: 2rem;
        .inner-form-control {
            display: flex;
            flex-direction: row;
            width: auto;
            margin-bottom: 1rem;
            @media #{$breakpoint-lg} {
                width: 50%;
            }
            .MuiFormControl-root,
            .MuiOutlinedInput-root,
            .input-tag {
                width: 100%;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .MuiOutlinedInput-adornedStart {
                padding-left: 0 !important;
            }
            ul {
                display: flex;
                width: 100%;
                margin-bottom: .5rem;
                li {
                    flex: 1 0;
                    padding-right: 1rem;
                    &:last-child {
                        padding-right: 0;
                    }
                    &.w {
                        flex: auto;
                        &.w-65 {
                            width: 75%;
                        }
                        &.w-50 {
                            width: 50%;
                        }
                        &.w-40 {
                            width: 40%;
                        }
                        &.w-35 {
                            width: 35%;
                        }
                        &.w-25 {
                            width: 25%;
                        }
                    }
                }
                &.spec-label {
                    li {
                        position: relative;
                    }
                    label {
                        position: absolute;
                        right: 0.1rem;
                        background-color: #EEEEEE;
                        padding: .5rem 1.5rem;
                        margin-top: .12rem;
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
            .MuiChip-root {
                margin-left: .8rem;
                margin-right: 0;
            }
            .css-okt5j6-MuiDataGrid-columnHeaders {
                display: none !important;
            }
            &.cal-table {
                display: block;
                .footer {
                    font-weight: bold;
                    margin-top: .5rem;
                }
            }
        }
    }
}


.bg-on {
    background-color: #EEEEEE;
    padding: .8rem;
    margin-bottom: 1rem;
    width: 100%;
    @media #{$breakpoint-lg} {
        width: 50%;
    }
    .inner-form-control {
        width: 100% !important; 
    }
}